<table>
    <tr>
        <td><a href="{{site.baseurl}}/digitaldivide">Digital Divide</a></td>
        <td><a href="{{site.baseurl}}/computingbias">Computing Bias</a></td>
        <td><a href="{{site.baseurl}}/crowdsourcing">Crowd Sourcing</a></td>
        <td><a href="{{site.baseurl}}/legal">Legal And Ethical Concerns</a></td>
        <td><a href="{{site.baseurl}}/safe">Safe Computing</a></td>
        <td><a href="{{site.baseurl}}/binary">Binary</a></td>
        <td><a href="{{site.baseurl}}/random">Random Algorithms</a></td>
        <td><a href="{{site.baseurl}}/big">Big O</a></td>
    </tr>
</table>