<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Tools" alt=""></td>
        <td><a href="{{site.baseurl}}/">Home</a></td>
        <td><a href="{{site.baseurl}}/snake">Snake</a></td>
        <td><a href="{{site.baseurl}}/sprint2">Big Idea 3 Lesson Hacks and Homework</a></td>
        <td><a href="{{site.baseurl}}/summary">Big Idea 3 Summaries</a></td>
        <td><a href="{{site.baseurl}}/sprint3">Sprint3 Blog</a></td>
        <td><a href="{{site.baseurl}}/bigidea5">Big Idea 5 Lesson Hacks and Homework</a></td>
    </tr>
</table>